<a href="https://colab.research.google.com/github/dewansh2004/Data-Scientis-tools/blob/main/handling_Date_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
date = pd.read_csv('/content/orders.csv')
time = pd.read_csv('/content/messages.csv')

In [3]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [4]:
date['date'] = pd.to_datetime(date['date'])

In [6]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

# ***extracting year***

In [7]:
date['date_year'] = date['date'].dt.year
date.head()

        date  product_id  city_id  orders  date_year
0 2019-12-10        5628       25       3       2019
1 2018-08-15        3646       14     157       2018
2 2018-10-23        1859       25       1       2018
3 2019-08-17        7292       25       1       2019
4 2019-01-06        4344       25       3       2019

# ***extract month***

In [8]:
date['date_month_no'] = date['date'].dt.month
date.head()

        date  product_id  city_id  orders  date_year  date_month_no
0 2019-12-10        5628       25       3       2019             12
1 2018-08-15        3646       14     157       2018              8
2 2018-10-23        1859       25       1       2018             10
3 2019-08-17        7292       25       1       2019              8
4 2019-01-06        4344       25       3       2019              1

# Extracting month name

In [11]:
date['date_month_name'] = date['date'].dt.month_name()
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name
0,2019-12-10,5628,25,3,2019,12,December
1,2018-08-15,3646,14,157,2018,8,August
2,2018-10-23,1859,25,1,2018,10,October
3,2019-08-17,7292,25,1,2019,8,August
4,2019-01-06,4344,25,3,2019,1,January

# Extract days

In [12]:
date['date_day'] = date['date'].dt.day
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day
0,2019-12-10,5628,25,3,2019,12,December,10
1,2018-08-15,3646,14,157,2018,8,August,15
2,2018-10-23,1859,25,1,2018,10,October,23
3,2019-08-17,7292,25,1,2019,8,August,17
4,2019-01-06,4344,25,3,2019,1,January,6

# **Day Of week**

In [14]:
date['date_dow'] = date['date'].dt.dayofweek
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day,date_dow
0,2019-12-10,5628,25,3,2019,12,December,10,1
1,2018-08-15,3646,14,157,2018,8,August,15,2
2,2018-10-23,1859,25,1,2018,10,October,23,1
3,2019-08-17,7292,25,1,2019,8,August,17,5
4,2019-01-06,4344,25,3,2019,1,January,6,6

# **day of week name**

In [16]:
date['date_of_week'] = date['date'].dt.day_name()
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_of_week
0,2019-12-10,2019,12,December,10,1,Tuesday
1,2018-08-15,2018,8,August,15,2,Wednesday
2,2018-10-23,2018,10,October,23,1,Tuesday
3,2019-08-17,2019,8,August,17,5,Saturday
4,2019-01-06,2019,1,January,6,6,Sunday

# **Is weekend**

In [23]:
date['date_is_weekend'] = np.where(date['date_dow'].isin(['Sunday','Saturday']),1,0)
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_of_week,date_is_weekend
0,2019-12-10,2019,12,December,10,1,Tuesday,0
1,2018-08-15,2018,8,August,15,2,Wednesday,0
2,2018-10-23,2018,10,October,23,1,Tuesday,0
3,2019-08-17,2019,8,August,17,5,Saturday,0
4,2019-01-06,2019,1,January,6,6,Sunday,0

# Extract week of the year

In [30]:
date['date_week'] = date['date'].dt.isocalendar().week

date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_of_week,date_is_weekend,date_week
0,2019-12-10,2019,12,December,10,1,Tuesday,0,50
1,2018-08-15,2018,8,August,15,2,Wednesday,0,33
2,2018-10-23,2018,10,October,23,1,Tuesday,0,43
3,2019-08-17,2019,8,August,17,5,Saturday,0,33
4,2019-01-06,2019,1,January,6,6,Sunday,0,1

In [31]:
time

                    date                                                msg
0    2013-12-15 00:50:00                               37
1    2014-04-29 23:40:00       !!   0955532826
2    2012-12-30 00:21:00           . 43 . / *.  067.16.34.576
3    2014-11-28 00:31:00    /  45    093 629 9...
4    2013-10-26 23:11:00            !)
..                   ...                                                ...
995  2012-03-16 00:50:00          -066-877-32-44
996  2014-01-23 23:14:00              23
997  2012-10-15 23:37:00  +   .   093-156...
998  2012-06-21 23:34:00  7  .34 . /  ..098 809 15 14
999  2014-06-19 23:25:00            ...  .0662035584

[1000 rows x 2 columns]

In [32]:
time['date'] = pd.to_datetime(time['date'])

In [34]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [36]:
time['hour'] = time['date'].dt.hour
time['minutre'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second
time.head()

,date,msg,hour,minutre,sec
0,2013-12-15 00:50:00,37,0,50,0
1,2014-04-29 23:40:00,!! 0955532826,23,40,0
2,2012-12-30 00:21:00,. 43 . / *. 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,/ 45 093 629 9...,0,31,0
4,2013-10-26 23:11:00,!),23,11,0

In [37]:
#Extract time part
time['time'] = time['date'].dt.time
time.head()

,date,msg,hour,minutre,sec,time
0,2013-12-15 00:50:00,37,0,50,0,00:50:00
1,2014-04-29 23:40:00,!! 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,. 43 . / *. 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,/ 45 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,!),23,11,0,23:11:00